<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Racekatteklubben - Katte</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <header th:replace="~{fragments :: header}"></header>
</header>
<main>
    <h2>Katte</h2>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>EMS kode</th>
            <th>Fødselsdato</th>
            <th>Opdrætter</th>
            <th>Medlem</th>
            <th>Mor</th>
            <th>Far</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cat : ${cats}">
            <td th:text="${cat.id}"></td>
            <td th:text="${cat.name}"></td>
            <td th:text="${cat.emsCode}"></td>
            <td th:text="${cat.birthdate}"></td>
            <td th:text="${cat.breederName}"></td>
            <td th:text="${cat.memberId}"></td>
            <td th:text="${cat.motherId}"></td>
            <td th:text="${cat.fatherId}"></td>
            <td>
                <form th:action="@{/cats/{id}/delete(id=${cat.id})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:if="${cats != null and !#lists.isEmpty(cats)}"
       th:href="@{/cats/members/{id}/add-cat(id=${cats[0].memberId})}">Tilføj kat</a>
    <a th:href="@{/members}">Tilbage</a>
</main>
</body>
</html>